.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.statistic__container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
}

.statistic__container-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.statistic__item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.settings__inner {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settings__inner-title {
    font-size: 22px;
    margin-bottom: 15px;
}

.settings__inner-operators {
    margin-bottom: 20px;
}

.settings__inner-operators label {
    margin-right: 15px;
    font-size: 18px;
}

.settings__inner-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #76c7c0;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.settings__inner-button:hover {
    background-color: #5aa9a4;
}

label{
     display: flex;
     margin-bottom: 10px;
}

label input {
    margin-right: 5px;
    margin-left: 10px;
}
